admins:
  - name: username
    public-keys:
      - key: "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIKW2jR2whDuND6SZPYrX6hU5lCjPdyJ8eYy5qp6xLYQ5 username@example.com"
      - key: "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJHu3DKiYYcoKblqs4l28tnzMaBZ9zXnGV2HRi507ET5 username@example.org"
      - key: "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIEWBZo2WYZxQd7szdTHDg8O4CyWwfe+VXsAzobE10v8y username@example.net"

users: []

email: user@example.com

deploy_webroot: false
use_webserver: caddy #other possible values are nginx, apache and docker
website:
  no_index: true

tor:
  nickname: somenickname
  distribution_method: HTTPS # Possible values for this are documented here: https://gitlab.torproject.org/tpo/anti-censorship/rdsys/-/blob/main/doc/distributors.md