venv
tmp
*.local
.ansible
roles/*/library/__pycache__

group_vars/*
!group_vars/*.yaml.example
!group_vars/test.yaml
roles/hetzner/files/*
!roles/hetzner/files/.gitkeep
inventory.ini
host_vars/*
!host_vars/your-bridge-*-0.yaml
roles/tor/files/*
!roles/tor/files/.gitkeep
roles/system/files/*
!roles/system/files/*-unattended-upgrades
connection-strings.txt