---
repos:
  - repo: https://github.com/ansible/ansible-lint.git
    rev: v25.8.2
    hooks:
      - id: ansible-lint
        files: \.(yaml|yml)$

  - repo: https://github.com/tofuutils/pre-commit-opentofu
    rev: v2.2.1
    hooks:
      - id: tofu_fmt
      - id: tofu_validate
        files: \.tf$
