your-bridge-fsn-0 ansible_host=ipv6.or.ipv4.or.fqdn ansible_user=youruser
your-bridge-nbg-0 ansible_host=ipv6.or.ipv4.or.fqdn ansible_user=youruser
your-bridge-hel-0 ansible_host=ipv6.or.ipv4.or.fqdn ansible_user=youruser