---

- name: Setup general system
  hosts: all
  become: true
  roles:
    - system
  tags:
    - system
    - general

- name: Setup the WebSocket Bridge
  hosts: all
  become: true
  roles:
    - tor
  tags:
    - tor
    - bridge
    - webtunnel

- name: Setup webserver
  hosts: all
  become: true
  roles:
    - webserver
  tags:
    - webserver

- name: Setup firewall
  hosts: all
  become: true
  roles:
    - security
  tags:
    - security

- name: Setup docker
  hosts: all
  become: true
  roles:
    - docker
  tags:
    - docker
