server {
    listen [::]:443 ssl;
    listen 443 ssl;
    server_name {{ domain }};

    ssl_certificate {{ certbot.config_dir }}/live/{{ domain }}/fullchain.pem;
    ssl_certificate_key {{ certbot.config_dir }}/live/{{ domain }}/privkey.pem;

    ssl_session_timeout 15m;

    ssl_protocols TLSv1.2 TLSv1.3;

    ssl_ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384;

    ssl_prefer_server_ciphers off;

    ssl_session_cache shared:MozSSL:50m;
    ssl_session_tickets off;

    add_header Strict-Transport-Security "max-age=63072000" always;
    
    location / {
{% if reverse_proxy and reverse_proxy_url is defined %}
        proxy_pass https://{{ reverse_proxy_url }}/;
        proxy_http_version 1.1;

        proxy_ssl_name {{ reverse_proxy_url }};
        proxy_ssl_server_name on;

        proxy_set_header Host {{ reverse_proxy_url }};
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;

        proxy_set_header Connection "";
{% else %}
        root {{ webserver.webroot }};
        index index.html index.htm;
        try_files $uri $uri/ index,html;
{% endif %}

        access_log {{ webserver.access_log }};
        error_log {{ webserver.error_log }};

    }

    location = /{{ webtunnel_path | trim }} {
        proxy_pass http://127.0.0.1:15000;
        proxy_http_version 1.1;

        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";

        proxy_set_header        Accept-Encoding   "";
        proxy_set_header        Host            $host;
        proxy_set_header        X-Real-IP       $remote_addr;
        proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header        X-Forwarded-Proto $scheme;
        add_header              Front-End-Https   on;

        proxy_redirect     off;
        access_log  /dev/null;
        error_log {{ webserver.error_log }};
    }

}