<VirtualHost *:80>
    ServerName {{ domain }}

    RewriteEngine On

    RewriteRule ^/\.well-known/ /var/www/certbot/$1 [L]

    RewriteCond %{REQUEST_URI} !^/\.well-known/
    RewriteRule ^(.*)$ https://%{SERVER_NAME}/$1 [R=301,L,QSA]
</VirtualHost>