ServerRoot "{{ apache.server_root }}"

Listen 80
Listen 443

{% for module in apache.modules %}
{{ module }}
{% endfor %}

<IfModule unixd_module>
User {{ webserver.user }}
Group {{ webserver.group }}
</IfModule>

DocumentRoot "{{ dir.webroot }}"
<Directory "{{ dir.webroot }}">
    Options Indexes FollowSymLinks
    AllowOverride None
    Require all granted
    DirectoryIndex index.html
</Directory>

ErrorLog "/dev/null"
CustomLog "/dev/null" combined

IncludeOptional {{ apache.config_dir }}/*.conf