server {
    listen [::]:443 ssl;
    listen 443 ssl;
    server_name {{ domain }};

{% if use_custom_ssl %}
    ssl_certificate {{ system.etc }}/ssl/{{ domain }}.crt;
    ssl_certificate_key {{ system.etc }}/ssl/{{ domain }}.key;
{% elif not use_custom_ssl %}
    ssl_certificate {{ certbot.config_dir }}/live/{{ domain }}/fullchain.pem;
    ssl_certificate_key {{ certbot.config_dir }}/live/{{ domain }}/privkey.pem;
{% endif %}

    ssl_session_timeout 15m;

    ssl_protocols TLSv1.2 TLSv1.3;

    ssl_ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384;

    ssl_prefer_server_ciphers off;

    ssl_session_cache shared:MozSSL:50m;
    #ssl_ecdh_curve secp521r1,prime256v1,secp384r1;
    ssl_session_tickets off;

    add_header Strict-Transport-Security "max-age=63072000" always;
    
    location / {
{% if reverse_proxy and reverse_proxy_url is defined %}
        proxy_pass https://{{ reverse_proxy_url }};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;

        access_log /var/log/nginx/access.log;
        error_log {{ webserver.error_log }};
{% else %}
        root {{ webserver.webroot }};
        index index.html index.htm;
        try_files $uri $uri/ index,html;

        access_log /var/log/nginx/access.log;
        error_log {{ webserver.error_log }};

{% endif %}
    }

    location = /{{ webtunnel_path | trim }} {
        proxy_pass http://127.0.0.1:15000;
        proxy_http_version 1.1;

        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";

        proxy_set_header        Accept-Encoding   "";
        proxy_set_header        Host            $host;
        proxy_set_header        X-Real-IP       $remote_addr;
        proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header        X-Forwarded-Proto $scheme;
        add_header              Front-End-Https   on;

        proxy_redirect     off;
        access_log  /dev/null;
        error_log {{ webserver.error_log }};
    }

}