{{ domain }} {
{% if reverse_proxy %}
        reverse_proxy * {{ reverse_proxy_url }}:443
{% else %}
        root * {{ webserver.webroot }}
        file_server browse
{% endif %}
        reverse_proxy /{{ webtunnel_path | trim }} 127.0.0.1:15000
{% if use_custom_ssl %}
        tls {{ system.etc }}/ssl/{{ domain }}.key {{ system.etc }}/ssl/{{ domain }}.key {{ system.etc }}/ssl/{{ domain }}.ca-crt
{% endif %}
}