loader="grub"
cpu=2
memory=3G
network0_type="virtio-net"
network0_switch="{{ vm.networking.lan_interface }}"
network0_mac="{{ vm[os].mac_address[item] }}"
disk0_type="virtio-blk"
disk0_name="disk0.img"
uefi_firmware="/usr/local/share/uefi-firmware/BHYVE_UEFI.fd"
grub_install0="linux /arch/boot/x86_64/vmlinuz-linux archisobasedir=arch archisolabel=ARCH_202501 ro"
grub_install1="initrd /arch/boot/x86_64/initramfs-linux.img"
#Add following lines manually (form /boot/grub/grub.conf) here
grub_run0="linux /vmlinuz-linux root=UUID=952bafd9-e432-42d5-8451-cc2a0a2a234b rw"
grub_run1="initrd /initramfs-linux.img"