loader="uefi"
uefi_vars="true"
cpu=2
memory=3G
network0_type="virtio-net"
network0_switch="{{ vm.networking.lan_interface }}"
network0_mac="{{ vm[os].mac_address[item] }}"
disk0_type="virtio-blk"
disk0_name="disk0.img"