---
name: Test Ansible Playbook

on:
  workflow_dispatch:
  push:
    branches-ignore:
      - main
    paths-ignore:
      - '.github/workflows/venv.yml'
      - '.github/workflows/hostvars.yml'
      - '.github/ISSUE_TEMPLATE/*'
      - '.github/CODEOWNERS'
      - 'requirements.txt'
      - 'requirements.yaml'
      - 'todo.md'
      - 'readme.md'
      - '.env'
      - '.yamllint'
      - '.ansible-lint'
      - '.pre-commit-config.yaml'
      - '.gitignore'
  pull_request:
    branches:
      - main

env:
  PY_COLORS: 1
  ANSIBLE_FORCE_COLOR: 1
  TEST_SERVER_TLD: ${{ secrets.TEST_SERVER_TLD }}
  HCLOUD_TOKEN: ${{ secrets.HCLOUD_TOKEN }}
  SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
  AWS_S3_ENDPOINT: ${{ secrets.AWS_S3_ENDPOINT }}
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

jobs:
  create-test-server-infra:
    runs-on: arc-runner-set
    container:
      image: bubatzlegal/tofu-mc:latest
    env:
      CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
      TF_VAR_dns_zone_id: ${{ secrets.TF_VAR_dns_zone_id }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Create .ssh and conetent
        run: |
          mkdir ~/.ssh
          echo "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIHp6r56jX9Ow2siEVx4S/EchnBTnLjyP/evS+nHZ/P4J" > ~/.ssh/id_ed25519.pub && chmod 644 ~/.ssh/id_ed25519.pub
          echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_ed25519 && chmod 600 ~/.ssh/id_ed25519

      - name: Init Tofu Project
        run: |
          cd .tests/infra
          tofu init

      - name: Create Test-Infrastructure
        run: |
          eval $(ssh-agent)
          ssh-add
          cd .tests/infra
          tofu apply --auto-approve

      - name: Store host_vars
        run: |
          mc alias set testrun-bucket-alias ${{ secrets.AWS_S3_ENDPOINT }} ${{ secrets.AWS_ACCESS_KEY_ID }} ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          mc cp host_vars/ testrun-bucket-alias/ansible-tor-webtunnel-testing/host_vars/

  run-test-server-setup:
    runs-on: arc-runner-set
    needs: create-test-server-infra
    container:
      image: python3:13
    strategy:
      matrix:
        os: [alpine, archlinux, freebsd, openbsd, rhel, suse, ubuntu]
      fail-fast: false
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Create .ssh and conetent
        run: |
          mkdir ~/.ssh
          echo "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIHp6r56jX9Ow2siEVx4S/EchnBTnLjyP/evS+nHZ/P4J" > ~/.ssh/id_ed25519.pub && chmod 644 ~/.ssh/id_ed25519.pub
          echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_ed25519 && chmod 600 ~/.ssh/id_ed25519

      - name: Setup minio client
        run: |
          curl https://dl.min.io/client/mc/release/linux-arm64/mc \
            --create-dirs \
            -o /usr/local/bin/mc
          chmod +x /usr/local/bin/mc

      - name: Get host_vars
        run: |
          mc alias set testrun-bucket-alias ${{ secrets.AWS_S3_ENDPOINT }} ${{ secrets.AWS_ACCESS_KEY_ID }} ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          mc cp testrun-bucket-alias/ansible-tor-webtunnel-testing/host_vars/${{ matrix.os }}*.yaml host_vars/

      - name: Initialize venv
        run: source .envrc

      - name: Wait until the webtunnel client is reachable
        run: |
          source venv/bin/activate
          python3 scripts/check_hosts.py -i inventory.hcloud.yaml --limit=${{ matrix.os }}

      - name: Test ${{ matrix.os }} Server
        run: |
          eval $(ssh-agent)
          ssh-add
          ansible-playbook playbook.yaml -i inventory.hcloud.yaml --limit=${{ matrix.os }}

      - name: Upload connection strings
        run: |
          mc alias set testrun-bucket-alias ${{ secrets.AWS_S3_ENDPOINT }} ${{ secrets.AWS_ACCESS_KEY_ID }} ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          mc cp connection-strings.txt testrun-bucket-alias/ansible-tor-webtunnel-testing/connection-strings-${{ matrix.os }}.txt

  test-webtunnel-conection:
    runs-on: arc-runner-set
    needs: run-test-server-setup
    container:
      image: python3:13
    strategy:
      matrix:
        os: [alpine, archlinux, freebsd, openbsd, rhel, suse, ubuntu]
      fail-fast: false
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Get host_vars
        run: |
          mc alias set testrun-bucket-alias ${{ secrets.AWS_S3_ENDPOINT }} ${{ secrets.AWS_ACCESS_KEY_ID }} ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          mc cp testrun-bucket-alias/ansible-tor-webtunnel-testing/connections-strings-${{ matrix.os }}.txt connections-strings-${{ matrix.os }}.txt

      - name: Run scripts for testing the webtunnel connections
        run: |
          test-webtunnel-connections.sh connections-strings-${{ matrix.os }}.txt

  test-web-connection:
    runs-on: arc-runner-set
    needs: run-test-server-setup
    container:
      image: python3:13
    strategy:
      matrix:
        os: [alpine, archlinux, freebsd, openbsd, rhel, suse, ubuntu]
      fail-fast: false
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Setup minio client
        run: |
          curl https://dl.min.io/client/mc/release/linux-arm64/mc \
            --create-dirs \
            -o /usr/local/bin/mc
          chmod +x /usr/local/bin/mc

      - name: Get host_vars
        run: |
          mc alias set testrun-bucket-alias ${{ secrets.AWS_S3_ENDPOINT }} ${{ secrets.AWS_ACCESS_KEY_ID }} ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          mc cp testrun-bucket-alias/ansible-tor-webtunnel-testing/host_vars/${{ matrix.os }}*.yaml host_vars/

      - name: Initialize venv
        run: source .envrc

      - name: Check if HTTP/HTTPS work fine
        run: |
          source venv/bin/activate
          python3 scripts/test-web.py -i inventory.hcloud.yaml --limit=${{ matrix.os }}

  test-ssh-connection:
    runs-on: arc-runner-set
    needs: run-test-server-setup
    container:
      image: python3:13
    strategy:
      matrix:
        os: [alpine, archlinux, freebsd, openbsd, rhel, suse, ubuntu]
      fail-fast: false
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Create .ssh and conetent
        run: |
          mkdir ~/.ssh
          echo "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIHp6r56jX9Ow2siEVx4S/EchnBTnLjyP/evS+nHZ/P4J" > ~/.ssh/id_ed25519.pub && chmod 644 ~/.ssh/id_ed25519.pub
          echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_ed25519 && chmod 600 ~/.ssh/id_ed25519

      - name: Create .ssh and conetent
        run: |
          mkdir ~/.ssh
          echo "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIHp6r56jX9Ow2siEVx4S/EchnBTnLjyP/evS+nHZ/P4J" > ~/.ssh/id_ed25519.pub && chmod 644 ~/.ssh/id_ed25519.pub
          echo  ${{ secrets.SSH_PRIVATE_KEY }} > ~/.ssh/id_ed25519 && chmod 600 ~/.ssh/id_ed25519

      - name: Setup minio client
        run: |
          curl https://dl.min.io/client/mc/release/linux-arm64/mc \
            --create-dirs \
            -o /usr/local/bin/mc
          chmod +x /usr/local/bin/mc

      - name: Get host_vars
        run: |
          mc alias set testrun-bucket-alias ${{ secrets.AWS_S3_ENDPOINT }} ${{ secrets.AWS_ACCESS_KEY_ID }} ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          mc cp testrun-bucket-alias/ansible-tor-webtunnel-testing/host_vars/${{ matrix.os }}*.yaml host_vars/

      - name: Initialize venv
        run: source .envrc

      - name: Check if SSH work fine
        run: |
          eval $(ssh-agent)
          ssh-add
          source venv/bin/activate
          python3 scripts/test-ssh.py -i inventory.hcloud.yaml --limit=${{ matrix.os }}

  delete-test-server-infra:
    runs-on: arc-runner-set
    needs:
      - test-webtunnel-conection
      - test-web-connection
      - test-ssh-connection
    # if: always()
    container:
      image: ghcr.io/opentofu/opentofu:minimal
    env:
      CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
      TF_VAR_dns_zone_id: ${{ secrets.TF_VAR_dns_zone_id }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Create .ssh and conetent
        run: |
          mkdir ~/.ssh
          echo "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIHp6r56jX9Ow2siEVx4S/EchnBTnLjyP/evS+nHZ/P4J" > ~/.ssh/id_ed25519.pub && chmod 644 ~/.ssh/id_ed25519.pub
          echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_ed25519 && chmod 600 ~/.ssh/id_ed25519

      - name: Init Tofu Project
        run: |
          cd .tests/infra
          tofu init

      - name: Destroy Test-Infrastructure
        run: |
          eval $(ssh-agent)
          ssh-add
          cd .tests/infra
          tofu destroy --auto-approve
